@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  outline: none;
  padding: 0;
}

.logo{
  font-family: 'Poppins', sans-serif;
}
.title{
  font-family: 'Nunito Sans', sans-serif;
}